!!! 5
html(lang="en")
  head
    title Gra - Jeden z dziesieciu.
    link(rel='stylesheet', href='/styles/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/connect.js')
  body
    block top
    block content 
    footer