extends layout
	
block top
	#userpanel=username
	#logout

block content
	#content
		#usersList
		#question oczekiwanie na 2 zawodnika i/lub operatora
		input(id='getQuestion',type='button',value='Pytanie')