extends layout
	
block top
	#userpanel=username
	#logout

block content
	#content
		#question oczekiwanie na 2 zawodnika i/lub operatora
		#answer
		input(id='sendAnswer',type='button',value='Odpowiedz')
	#usersList