extends layout
	
block top
	#userpanel=username
	#logout

block content
	#content
		#question
		input(id='getQuestion',type='button',value='Pytanie')
		input(id='goodAnswer',type='button',value='Dobrze')
		input(id='badAnswer',type='button',value='Źle')
	#usersList