
body {
	margin: 0;
	padding: 0;
	background: #DAE2CF url(/images/grass.png);
	background-size: cover;
	opacity: 0.75;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #3B3B3B;
}
/* Header */

#header-wrapper {
}

#header {
	clear: both;
	width: 1000px;
	margin: 0px auto;
}


/* Page */

#wrapper
{
	overflow: hidden;
	padding-bottom: 40px;
}

#page {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 70px 50px 30px 50px;
	background: #FFFFFF;
}

/* Content */

#content {
width: 620px;
margin-left:auto;
margin-right: auto;
text-align:center;
border-radius: 50px;
border: solid black 3px;
background-color: #e0e0e0;
}

#usersList{
	font-size: 18px;
	border: solid black 3px;
	position: relative;
	float: right;
	opacity: 1;
	width: 200px;
	background-color:#0e0e0e;
}


#submit, #goodAnswer, #badAnswer, #getQuestion{
	border-radius: 10px;
	color: black;
}
#submit :hover{
color: blue;
}